*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.container-questions-create{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.questions-create{
    width: 350px;
    padding: 15px;
}
.questions-title{
    font-size: 1.5em;
   padding: 15px 10px;
}
.select-class,.input-class{
    margin:4px 0px 10px 0px;
}
.input-class{
    width: 300px;
    height: 38px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    padding: 2px 8px;
}
.input-class:focus{
    outline: 2px solid #2684FF;
    border: none;
}
.input-class::placeholder{
    color: hsl(0, 2%, 67%) ;
}
.labels{
    color: rgb(44, 44, 44);
}
.btn-group{
    display: flex;
    flex-direction: row;
}
.btn{
    height: 35px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 0px 50px 20px;
}
.btn-1{
    background: #054ba7;
}
.btn-2{
    background: #86888a;
}
.radio{
    margin: 5px;
    margin-bottom: 15px;
}
.random-questions{
    width: 350px;
    padding: 10px;
}

/* predifine question css */
.container-predifine-question{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 15px;
}
.same-lavel{
    width: 400px;

}
.same-lavels .input-class, .select-class{
    width: 300px;
    margin-right: 20px;
}
.btn-group{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px 15px;
}
.btn-predifine-question{
    margin: 5px;
    color: white;
    background: #054ba7;
    padding: 10px;
    border: none;
    outline: 0px;
    border-radius: 4px;
    cursor: pointer;
}

/* create new question type css */
.container-create-new-question{
    width: 320px;
    padding: 5px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(170, 167, 167);
    box-shadow: 0px 0px 1px 0px rgb(170, 167, 167);
    border-radius: 4px;
    z-index: 1;

}
.container-create-new-question .input-class{
    width: 300px;
}
.container-create-new-question h1{
    padding:5px;
    border: none;
    border-bottom: 3px solid blue;
    margin-bottom: 10px;
}
.bi-patch-plus{
    font-size: 1.3em;
    color: blue;
    cursor: pointer;
}
.container-create-new-question .btn-group{
    padding: 5px;
}
.container-create-new-question .btn-group Button {
    padding: 7px;
    font-size: 1.1em;
    border: none;
    color: white;
    border-radius: 4px;
}
.btn-create{
    background-color: #032f68;
}
.btn-save-create{
    background-color: #036624;
    margin-left: 15px;
}
.btn-cancel{
    background-color: #864303;
    margin-left: 15px;
}

/*create options css */
.create-options{
    display: flex;
    padding: 2px 5px 0px 5px;
}
.create-options .options  .input-class {
    width: 80%;
    height: 30px;
}

.create-options .right-option .d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
}
.bi-trash, .check-css{
    color: rgb(161, 5, 5);
    cursor: pointer;
}

/* layout navigate question css */

.container-random-predifine-question .navigate-question{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.random , .predifine {
    font-size: 1.4em;
    font-weight: bold;
    border:  none;
    padding: 3px;
    border-bottom: 4px solid rgb(197, 197, 202);
    cursor: pointer;
}
.random:hover,.predifine:hover{
    transition: 0.5s all;
    border-bottom: 4px solid blue;
}
.render-section{
    padding-top:15px;
}
.active-class{
    border-bottom: 4px solid blue;
}

/* Data Table CSS */
.container-data-table{
     display: flex;
     justify-content: center;
     overflow: auto;
     padding: 0px 10px;
}
.data-table{
    width: 100%;
    border: 2px solid rgb(153, 150, 150);
    border-radius: 5px;
}
.btn-main{
    justify-content: start;
}